@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scrollbar-color: #FFB005 #13141A;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  @apply text-caramel;
}

input,
textarea {
  @apply text-gray-700 readex-thin;
}

input[type=text],
input[type=email],
textarea {
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

img {
  @apply select-none pointer-events-none;
}

#app {
  @apply w-full overflow-x-hidden accent-orange-700 caret-orange-700;
}

.navigation {
  @apply sticky top-0 w-full bg-white z-50;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  @apply p-2 bg-gray-100 text-elegant;
}

.btn:hover {
  @apply bg-flame;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.prev-next {
  @apply absolute right-[-1.5em] top-1/2 transform -translate-y-1/2 bg-caramel rounded-full p-2 pb-3;
}

.section {
  @apply py-8 px-[8%];
  width: inherit;
}

.section-title {
  @apply text-3xl font-bold mb-8 text-caramel text-center;
}

.btn-default {
  @apply text-base inline-flex items-center px-4 py-2 rounded-lg transition-colors;
}

.btn-primary {
  @apply inline-flex items-center font-bold px-4 py-2 bg-gold text-ocean rounded-lg hover:bg-flame hover:text-white transition-colors;
}

.btn-secondary {
  @apply text-xl inline-flex items-center px-3 py-3 bg-ocean text-white hover:text-ocean rounded-full hover:bg-gold transition-colors ;
}

.shadow-neon {
  @apply drop-shadow-[2px_2px_10px_rgba(255,192,56,0.5)];
}

.shadow-below {
  @apply drop-shadow-[0_1.2px_1.2px_rgba(28,28,28,0.8)];
}

.tooltip {
  @apply relative;
}

.tooltiptext {
  @apply absolute top-[-1.85em] left-1/2 w-max opacity-80 readex-thin text-white text-center z-10 px-2 py-1 rounded transform -translate-x-1/2;
  visibility: hidden;
}

.tooltiptext-sm {
  @apply absolute text-[0.8rem] top-[-1.85em] left-3 w-max opacity-80 readex-thin text-white text-center z-10 px-2 py-1 rounded transform -translate-x-1/2;
  visibility: hidden;
}

.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext-sm {
  visibility: visible;
}

.comment {
  @apply absolute text-white opacity-[12%] w-full text-base md:text-lg lg:text-xl leading-[0.6rem] md:leading-[0.65rem] lg:leading-[0.7rem] ml-[-4.5em] select-none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #fa4d0e;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Shadows Into Light';
  src: url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .readex-bold {
    @apply font-readex font-bold;
    letter-spacing: 0.05em;
  }

  .readex-thin {
    @apply font-readex font-light;
    letter-spacing: 0.05em;
  }
  
  .italic {
    @apply font-shadow-light font-light;
    letter-spacing: 0.05em;
  }
}